@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $fontMain;
  background-color: #f8f8f8;
  min-height: 100vh;
  padding: 10px 10px 100px;
}
