@import './variables.scss';

.menu {
  background-color: white;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 40px;
  height: 75px;
  li {
    font-size: 1.6rem;
    color: $colorSoft;
    display: flex;
    justify-content: center;
    height: 65px;
    width: 65px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .selected {
    background-color: $colorMain;
    height: 65px;
    width: 65px;
    border-radius: 999px;
    border: 6px solid white;
    transform: translateY(-25px);
    color: white;
    align-items: center;
    padding-top: 0;
  }
}
